@import 'tailwindcss';

:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, "League Spartan", "Varela Round", sans-serif;
  --leading: 1.5;
  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.buttons-container {
  display: none;
}

tr:hover .buttons-container {
  display: flex;
}

.font-league-spartan-600 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-varela-round {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-select-dropdown {
  background-color: '#101828';
  color: 'white';
  border: '2px solid #99a1af';
}
